<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-md-6">
        <div class="idea-form form-group">
          <label>Title</label>
          <input class="form-control" type="text" id="idea-title">

          <label>Content</label>
          <input class="form-control" type="textfield" id="idea-body">
        </div>
        <input class="btn btn-default pull-right" id="submit-idea" type="button" name="submit" value="Create Idea">
      </div>

      <div class="search col-md-6">
        <label>Search</label>
        <input class="form-control" type="search" id="search" placeholder="Search ideas">

        <label>Filter by quality</label><br />
        <div class="quality-buttons btn-group btn-group-justified" role="group" aria-label="...">
          <a type="button" class="btn btn-default" id="filter-all">All</a>
          <a type="button" class="btn btn-default" id="filter-swill">Swill</a>
          <a type="button" class="btn btn-default" id="filter-plausible">Plausible</a>
          <a type="button" class="btn btn-default" id="filter-genius">Genius</a>
        </div>
      </div>
    </div>

    <div class="ideas">
    </div>
  </div>
</div>
