<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="links">
      <img class="js-logo" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png">
      <a href="#">Ideas</a>
      <a class="link" href="#">All Ideas</a>
    </div>
  </div>
</nav>
